// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post {
  position: relative;

}

.text-description {
  padding-top: 50px;
}


.side {
  padding-top: 40px;
  padding-right: 40px;
  border-right: black;
  position: absolute;
}

.sex {
  padding-top: 25px;
}

text {
  font-family:BioRhyme;
}
