// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post {
  position: relative;

}

.text-description {
  padding-top: 50px;
}

img {
  height: 240px;
  width: 300px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  border-radius: 20px;

}

.side {
  padding-top: 40px;
  padding-right: 40px;
  border-right: black;
  position: absolute;
}

.sex {
  padding-top: 25px;
}

text {
  font-family:BioRhyme;
}
